html,
body {
     display:flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 0;
}
.full{
    display:center;
    width:250%;
        max-width: 1000px;
        min-height: 1000px;
        background-color: #FFEFBA;

        margin:0px;
        margin-left: 5px;
        display: ;

        justify-content: center;
        ;
}
.name{
    background-color: cornflowerblue;
    justify-content: center;
    display: flex;
    color: antiquewhite;
    min-height: 1px;
}
.contact{
    background-color: aqua;
    font-weight: bold;
    justify-content:center;
    font-size:large;
    display: flex;
}
.profile{
    display: inline;
    justify-content:center ;
}
.line{

        border: rgb(210, 48, 30);
        height: 2px;
        background-color: #0a010091;;
}
.tablee{
    display: flex;
    justify-content: left;
    margin-left: 10px;
}
h3 {
    display:flex;
    justify-content: center;
    font-size: 1.17em;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color:#afeeee;
}